.layout-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Sidebar fixa */
.sidebar {
  width: 250px;
  background: linear-gradient(to bottom, #8D212A, #AE3841);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Título */
.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Botões */
.sidebar-item {
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.sidebar-item:hover {
  opacity: 0.7;
}

/* Área do conteúdo */
.content {
  flex: 1;
  padding: 20px;
  background: #f1f1f1;
  overflow-y: auto;
}
