.container {
  background: linear-gradient(
    137.27deg,
    #d9d9d9 24.01%,
    #c2aaac 66.69%,
    #d0aaae 90.75%
  ) !important; /* !important garante que o gradiente vença o fundo preto/branco */
  width: 100vw;
  height: 100vh;
  display: flex;
}