.cards {
  display: flex;
  width: 100%;
  gap: 16px;
  background: linear-gradient(
    107.5deg,
    #d9d9d9 0%,
    #c2aaac 93.15%,
    #d0aaae 99.37%
  );
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.card {
  background: linear-gradient(90deg, #ae3841 0%, #8d212a 100%);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1.8rem;
  width: 80%;
  height: 100px;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.card-title {
  font-size: 14px;
  font-weight: 500;
}

.card-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background: rgba(125, 97, 97, 1);
}

.card-value {
  font-size: 24px;
  font-weight: bold;
}
