/* Container */
.home-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #D9D9D9, #D0AAAE);
  display: flex;
  flex-direction: column;
}

/* Top bar */
.top-bar {
  width: 100%;
  height: 60px;
  background: linear-gradient(to right, #8D212A, #AE3841);
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  color: white;
  font-size: 18px;
}

/* Home icon */
.home-icon {
  font-size: 22px;
  cursor: pointer;
}

/* Menu items */
.menu {
  display: flex;
  gap: 25px;
}

.menu-item {
  cursor: pointer;
  font-weight: 500;
}

/* Central content */
.home-content {
  margin-top: 60px;
  text-align: center;
}

/* Logo */
.logo {

    position: absolute;
    top: 160px;
  width: 180px;
  height: 180px;
  opacity: 0.4;
}

/* Description text */
.description {
    position: relative;
    top: 200px;
  margin-top: 50px;
  font-size: 18px;
  color: #00000053;
  line-height: 1.5;
}
